<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FreezerGopher</title>

    <!-- Bootstrap core CSS-->
    <link href="{{.UrlPrefix}}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="{{.UrlPrefix}}/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="{{.UrlPrefix}}/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{.UrlPrefix}}/vendor/bootstrap/css/sb-admin.css" rel="stylesheet">

</head>

<body id="page-top">


<div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
        <li class="nav-item">

            <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
                <i class="fas fa-bars"></i>
            </button>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{.UrlPrefix}}/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Overview</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{.UrlPrefix}}/addPerish">
                <i class="fas fa-fw fa-plus"></i>
                <span>Add</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{.UrlPrefix}}/manageType">
                <i class="fas fa-fw fa-table"></i>
                <span>Manage Types</span></a>
        </li>

    </ul>

    <div id="content-wrapper">

        <div class="container-fluid">

            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-sliders-h"></i>
                    Add/Update Type of Perishable
                </div>
                <div class="card-body">
                    <form method="POST" action="{{.UrlPrefix}}/addTypePost">
                        <table border="2px solid black" cellpadding="2px">

                            <tr>
                                <td><label for="name">Name:</label></td>
                                <td><input type="text" id="name" name="name" value="{{.P.Name}}"></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td><label for="isFresh">IsFresh:</label></td>
                                <td>
                                    <select id="isFresh" name="isFresh">
                                        {{if (eq .P.IsFresh "true")}}
                                            <option selected value="true">true</option>
                                            <option value="false">false</option>
                                        {{else}}
                                            <option value="true">true</option>
                                            <option selected value="false">false</option>
                                        {{end}}
                                    </select>
                                </td>
                                <td>freshly bought: true, pre-packaged with <i>best by</i> date: false</td>
                            </tr>

                            <tr>
                                <td><label for="addedTime">Additional Time:</label></td>
                                <td>
                                    <input type="number" id="addedTime" name="addedTime" value="{{.P.AdditionalTime}}">
                                    <select id="timeUnit" name="timeUnit">
                                        {{if (eq .P.TimeUnit "days")}}
                                            <option selected value="days">days</option>
                                        {{else}}
                                            <option value="days">days</option>
                                        {{end}}
                                        {{if (eq .P.TimeUnit "weeks")}}
                                            <option selected value="weeks">weeks</option>
                                        {{else}}
                                            <option value="weeks">weeks</option>
                                        {{end}}
                                        {{if (eq .P.TimeUnit "months")}}
                                            <option selected value="months">months</option>
                                        {{else}}
                                            <option value="months">months</option>
                                        {{end}}
                                    </select>
                                </td>
                                <td>the time freezing adds to the normal <i>best by</i> date</td>
                            </tr>
                        </table>
                        <br>
                        {{if or (eq .P.IsFresh "true") (eq .P.IsFresh "false")}}
                            <button type="submit" id="submit" name="submit" value="update">Update</button>
                        {{else}}
                            <button type="submit" id="submit" name="submit" value="add">Add</button>
                        {{end}}
                    </form>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->



    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<!-- Bootstrap core JavaScript-->
<script src="{{.UrlPrefix}}/vendor/jquery/jquery.min.js"></script>
<script src="{{.UrlPrefix}}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="{{.UrlPrefix}}/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Page level plugin JavaScript-->
<script src="{{.UrlPrefix}}/vendor/chart.js/Chart.min.js"></script>
<script src="{{.UrlPrefix}}/vendor/datatables/jquery.dataTables.js"></script>
<script src="{{.UrlPrefix}}/vendor/datatables/dataTables.bootstrap4.js"></script>

<!-- Custom scripts for all pages-->
<script src="{{.UrlPrefix}}/vendor/bootstrap/js/sb-admin.min.js"></script>

<!-- Demo scripts for this page-->
<script src="{{.UrlPrefix}}/vendor/bootstrap/js/demo/datatables-demo.js"></script>
<script src="{{.UrlPrefix}}/vendor/bootstrap/js/demo/chart-area-demo.js"></script>

</body>

</html>
